body{
    background-color: #b8e5f8;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://static.zhihu.com/heifetz/assets/sign_bg.db29b0fb.png);
}

.SignContainer{
    background-color: white;
    width: 400px;
    height: 375px;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top: 30px;
}
.SignContainer-content{
    padding: 0 24px 84px;
}
.SignContainer input{
    width:100%;
    height: 50px;
    margin-top: 18px;
    border: 0px;
    border-bottom:1px solid #ebebeb;
    font-size: 18px;
}

.SignContainer button:hover{
    background-color: #005ce6;
    border-color: #005ce6;
}

.SignContainer button{
    font-size: 14px;
    text-align: center;
    border:1px solid;
    border-radius: 5px;
    background-color: #06f;
    color: white;
    width: 100%;
    height: 40px;
    margin-top: 18px;
}